<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Components</title>
<style>
* {
  margin: 0;
  padding: 0;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/d3@6"></script>
</head>
<body>
<script>
const { nodes, links } = {/* DATA */};
let active;
const maxWeight = d3.max(nodes, d => d.weight) || 1;
const linkSet = new Set(links.map(item => item.sort().join('<->')));
const nodeData = nodes.map(data => ({ data }));
const linkData = links.map(([source, target]) => ({
  source: nodeData.find(({ data: { entry } }) => entry === source),
  target: nodeData.find(({ data: { entry } }) => entry === target),
})).filter(item => item.source && item.target);
const simulation = d3.forceSimulation(nodeData)
  .force('link', d3.forceLink(linkData).id(d => d.id).distance(300))
  .force('charge', d3.forceManyBody().strength(-100))
  .force('x', d3.forceX())
  .force('y', d3.forceY());
function dragstarted(e, d) {
  if (!e.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
  active = d.data;
  render();
}
function dragged(e, d) {
  d.fx = e.x;
  d.fy = e.y;
}
function dragended(e, d) {
  if (!e.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}
const drag = d3.drag()
  .on('start', dragstarted)
  .on('drag', dragged)
  .on('end', dragended);
const scale = d3.scaleOrdinal(d3.schemeCategory10);
const color = d => scale(d.data.entry.split('/').slice(0, 2).join('/'));
const svg = d3.create('svg');
const link = svg.append('g')
  .attr('stroke', '#999')
  .selectAll('line')
  .data(linkData)
  .join('line');
const group = svg.append('g')
  .selectAll('g')
  .data(nodeData)
  .join('g')
  .call(drag);
const circle = group
  .selectAll('circle')
  .data(d => [d])
  .join('circle')
  .attr('fill', color)
  .attr('stroke', '#fff')
  .attr('r', d => 5 + 5 * (d.data.weight / maxWeight));
const text = group
  .selectAll('text')
  .data(d => [d])
  .join('text')
  .attr('fill', '#333')
  .attr('x', 10)
  .text(d => d.data.name);
simulation.on('tick', () => {
  link
    .attr('x1', d => d.source.x)
    .attr('y1', d => d.source.y)
    .attr('x2', d => d.target.x)
    .attr('y2', d => d.target.y);
  group
    .attr('transform', d => `translate(${d.x},${d.y})`);
});

function onResize() {
  const width = innerWidth;
  const height = innerHeight;
  svg.attr('viewBox', [-width / 2, -height / 2, width, height]);
}

function getStatus(data) {
  if (data === active) return 2;
  if (active && linkSet.has([data.entry, active.entry].sort().join('<->'))) return 1;
  return 0;
}

function linkSelector(d) {
  return [d.source.data, d.target.data].includes(active) ? this : null;
}

function nodeSelector(d) {
  return getStatus(d.data) ? this : null;
}

function nodeSelectorActive(d) {
  return d.data === active ? this : null;
}

function render() {
  circle.attr('fill', d => [
    '#bbb',
    color(d),
    color(d),
  ][getStatus(d.data)]);
  text.attr('fill', d => [
    '#bbb',
    '#666',
    '#333',
  ][getStatus(d.data)]);
  link.attr('stroke', d => [
    '#ccc',
    '#666',
  ][+[d.source.data, d.target.data].includes(active)]);
  link.select(linkSelector).raise();
  group.select(nodeSelector).raise();
  group.select(nodeSelectorActive).raise();
}

onResize();
window.addEventListener('resize', onResize);
document.body.append(svg.node());
</script>
</body>
</html>
