<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Component map</title>
<script src="https://cdn.jsdelivr.net/combine/npm/d3@5,npm/markmap-lib@0.8.0/dist/browser/view.min.js"></script>
<style>
* {
  margin: 0;
  padding: 0;
}
#mindmap {
  display: block;
  width: 100vw;
  height: 100vh;
}
.external {
  color: #999;
}
</style>
</head>
<body>
<svg id="mindmap"></svg>
<script>
const data = {/* DATA */};
markmap.Markmap.create('#mindmap', {
  color: (colorFn => node => node.p.c || colorFn(node.p.pi))(d3.scaleOrdinal(d3.schemeCategory10)),
}, data);
</script>
</body>
</html>
